.wrapper {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 475px; 
    background-color: #ccc;
    /* border: 1px solid black; */
}

#slide {
    position: absolute;
    left: -100px;
    width: 200px;
    height: 275px;
    background: transparent;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}
