.beastie {
    position: absolute;
    -webkit-animation: slide 0.5s forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    0%   {left:60%; top:12%;}
    100% {left:80%; top:12%;}
}

@keyframes slide {
    0%   {left:60%; top:12%;}
    100% {left:80%; top:12%;}
}
