body {
  background-color: #282828;
}

#header {
  color: #880000;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

#header:hover {
  color: #990000;
  font-weight: bold;
}

.img-bottomleft,.img-center,.img-topright {
	position: fixed;
	max-width: 200px;
	width: 45%;
	opacity: .5;
	z-index: -1;
}

.img-center {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.img-topright {
	right: 0;
	top: 0;
	padding-bottom: 0px;
	padding-left: 0px;
}
	
.img-bottomleft {
	left: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	bottom: 0;
}

#dragon {
	border-radius: 10%;
}

#footer {
  bottom: 0;
  right: 0;
  position: fixed;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

h2 {
  color: #FFFFFF;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
}

h3 {
  color: #FFFFFF;
  font-family: Arial, Georgia, sans;
  font-size: 22px;
  text-align: left;
  text-decoration: none;
}

p {
  color: #FFFFFF;
}
