/* Mostly in alphabetical order. */

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Light", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif !important;
}

/* The *-selector means any/all elements, but will obviously be on the bottom of the property chain when it comes to overriding more specific selectors.
Note that the !important flag will render the font-style for * to be absolute, even if other selectors have been used to set the text (for example, the body or maybe a p).
* {
  font-family: Arial, Helvetica, sans-serif !important;
} */

h1 {
  margin: auto;
  width: 260px;
  
  color: #880000;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

h1:hover {
  color: #990000;
  font-weight: bold;
}

#chooser {
  padding: 20px;
  border: 2px solid #140030;
  border-radius: 5%;
}

#chooser a:hover {
  opacity: 0.7;
}

.img-bottomleft,.img-center,.img-topright {
	position: fixed;
	max-width: 200px;
	width: 45%;
	opacity: .5;
	z-index: -1;
}

.img-center {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.img-topright {
	right: 0;
	top: 0;
	padding-bottom: 0px;
	padding-left: 0px;
}
	
.img-bottomleft {
	left: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	bottom: 0;
}

#dragon {
	border-radius: 10%;
}

#footer {
  bottom: 0;
  right: 0;
  position: fixed;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

a {
  color: #0061FF;
  font-size: 16px;
}

h2 {
  color: #000;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
}

h3 {
  color: #000;
  font-size: 22px;
  text-align: left;
  text-decoration: none;
}

p {
  color: #000;
}
