body {
  background-color: #999999;
}

.navbar {
  background-color: #880000;
  color: #880000;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 700px;
  border: 3px solid #73AD21;
}

#header {
  color: #880000;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

#footer {
  bottom: 0;
  right: 0;
  position: fixed;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

h2 {
  color: #111111;
  font-family: Arial;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
}

h3 {
  color: #111111;
  font-family: Arial, Georgia, sans;
  font-size: 22px;
  text-align: left;
  text-decoration: none;
}
