body {
  background-color: #999999;
}

#navbar {
  color: #880000;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

#headers {
  color: #880000;
  font-family: Arial;
  font-size: 34px;
  text-align: center;
  text-decoration: underline;
}
