.image {
	bottom: 0%;
	left: 1%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image2 {
	position: absolute;
	bottom: 0%;
	left: 2%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image3 {
	position: absolute;
	bottom: 0%;
	left: 3%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image4 {
	position: absolute;
	bottom: 0%;
	left: 4%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image5 {
	position: absolute;
	bottom: 0%;
	left: 5%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image6 {
	position: absolute;
	bottom: 0%;
	left: 6%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image7 {
	position: absolute;
	bottom: 0%;
	left: 7%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image8 {
	position: absolute;
	bottom: 0%;
	left: 8%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image9 {
	position: absolute;
	bottom: 0%;
	left: 9%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image10 {
	position: absolute;
	bottom: 0%;
	left: 10%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image11 {
	position: absolute;
	bottom: 0%;
	left: 11%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image12 {
	position: absolute;
	bottom: 0%;
	left: 12%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image13 {
	position: absolute;
	bottom: 0%;
	left: 13%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image14 {
	position: absolute;
	bottom: 0%;
	left: 14%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image15 {
	position: absolute;
	bottom: 0%;
	left: 15%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image16 {
	position: absolute;
	bottom: 0%;
	left: 16%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image17 {
	position: absolute;
	bottom: 0%;
	left: 17%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image18 {
	position: absolute;
	bottom: 0%;
	left: 18%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image19 {
	position: absolute;
	bottom: 0%;
	left: 19%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image20 {
	position: absolute;
	bottom: 0%;
	left: 20%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image21 {
	position: absolute;
	bottom: 0%;
	left: 21%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image22 {
	position: absolute;
	bottom: 0%;
	left: 22%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image23 {
	position: absolute;
	bottom: 0%;
	left: 23%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image24 {
	position: absolute;
	bottom: 0%;
	left: 24%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image25 {
	position: absolute;
	bottom: 0%;
	left: 25%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image26 {
	position: absolute;
	bottom: 0%;
	left: 26%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image27 {
	position: absolute;
	bottom: 0%;
	left: 27%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image28 {
	position: absolute;
	bottom: 0%;
	left: 28%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image29 {
	position: absolute;
	bottom: 0%;
	left: 29%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image30 {
	position: absolute;
	bottom: 0%;
	left: 30%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image31 {
	position: absolute;
	bottom: 0%;
	left: 31%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image32 {
	position: absolute;
	bottom: 0%;
	left: 32%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image33 {
	position: absolute;
	bottom: 0%;
	left: 33%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image34 {
	position: absolute;
	bottom: 0%;
	left: 34%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image35 {
	position: absolute;
	bottom: 0%;
	left: 35%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image36 {
	position: absolute;
	bottom: 0%;
	left: 36%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image37 {
	position: absolute;
	bottom: 0%;
	left: 37%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image38 {
	position: absolute;
	bottom: 0%;
	left: 38%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image39 {
	position: absolute;
	bottom: 0%;
	left: 39%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
.image40 {
	position: absolute;
	bottom: 0%;
	left: 40%;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
