body {
	background-color: #000000;
	background-image: url("../img/screen.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

#time {
	color: #FFFFFF;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 102px;
	text-align: left;
	position: absolute;
    bottom: 80px;
    left: 40px;
}

#day {
	color: #FFFFFF;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 72px;
	text-align: left;
	position: absolute;
    bottom: 20px;
    left: 40px;
}

#month {
	color: #FFFFFF;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 72px;
	text-align: left;
	position: absolute;
    bottom: 20px;
    left: 40px;
}
