@opensans-light {
	font-family: opensans-light;
	src: url("fonts/OpenSans-Light.ttf");
}

body {
	background-color: #000000;
	background-image: url("../img/screen.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
}

#time {
	color: #FFFFFF;
	font-family: opensans-light, Segoe UI, sans-serif;
	font-weight: lighter;
	font-size: 800%;
	text-align: left;
	position: absolute;
    bottom: 20%;
    left: 2%;
}

#day {
	color: #FFFFFF;
	font-family: opensans-light, Segoe UI, sans-serif;
	font-weight: lighter;
	font-size: 400%;
	text-align: left;
	position: absolute;
    bottom: 10%;
    left: 2%;
}

#footer {
  bottom: 0;
  right: 0;
  position: fixed;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

#login {
	color: #FFFFFF;
	font-family: opensans-light, Segoe UI, sans-serif;
	font-weight: lighter;
	font-size: 100%;
	text-align: left;
}
